In [1]:
import nltk
from nltk.corpus import stopwords
import pandas as pd
from nltk.stem.snowball import SnowballStemmer
import re
englishStemmer=SnowballStemmer("english")
old1 = pd.read_csv("new_YInt_deleted_adv_accounts.csv")
earthquakeList = [englishStemmer.stem(string) for string in ['temblor', 'wobbl', 'quiver', 'trumbl', 'tremor', 'quak', 'seismic', 'shake', 'epicent', 'earthquak', 'shook']]
sewer_and_water= [englishStemmer.stem(string) for string in ["discharged", "discharge", "drain", "drainage", "flood", "hygiene", "irrigation", "pipes", "pump", "river", "sanitary", "sewage", "sewer", "stream", "underground", "wash", "waste", "water"]]
power_energy= [englishStemmer.stem(string) for string in ["valve", "heat", "gas", "power", "electric", "candle", "flashlight", "generator", "black out", "blackout", "dark", "radiation", "radio rays", "energy", "nuclear", "fuel", "battery", "radiant"]]
roads_and_bridges= [englishStemmer.stem(string) for string in ["airport", "avenue", "bridge", "bus", "congestion", "drive", "flight", "jam", "logistic", "metro", "mta", "road", "street", "subway", "traffic", "train", "transit", "transportation", "highway", "route", "lane"]]
medical= [englishStemmer.stem(string) for string in ["medical", "red cross", "food", "emergency", "urgent", "evacuate", "evacuating", "evacuation", "protection", "ambulance", "escape", "first aid", "rescue", "rescuing", "dead", "death", "kill", "help", "help out", "help with", "volunteer", "volunteering", "explosion", "exploding", "explode", "victim", "fatalities"]]
buildings=[englishStemmer.stem(string) for string in ["collapse", "housing", "house"]]
old1['Earthquake'] = ""
old1['sewer_and_water'] = ""
old1['power_energy'] = ""
old1['roads_and_bridges'] = ""
old1['medical'] = ""
old1['buildings'] = ""

In [2]:
for i,row in old1.iterrows():
    old1.loc[i,['Earthquake',"sewer_and_water","power_energy","roads_and_bridges","medical","buildings"]] = 0
    if not pd.isnull(old1.loc[i,'message']):
        for word in earthquakeList:
            old1.loc[i,'Earthquake'] += old1.loc[i,'message'].count(word)
        for word in earthquakeList:
            old1.loc[i,'sewer_and_water'] += old1.loc[i,'message'].count(word)
        for word in earthquakeList:
            old1.loc[i,'power_energy'] += old1.loc[i,'message'].count(word)
        for word in earthquakeList:
            old1.loc[i,'roads_and_bridges'] += old1.loc[i,'message'].count(word)
        for word in earthquakeList:
            old1.loc[i,'medical'] += old1.loc[i,'message'].count(word)
        for word in earthquakeList:
            old1.loc[i,'buildings'] += old1.loc[i,'message'].count(word)
old1

,time,location,account,message,features,formatted_message,Earthquake,sewer_and_water,power_energy,roads_and_bridges,medical,buildings
0,4/6/2020 0:00,Southton,LazyBCouch,@WatchesThomasBird fork it you're back in he s...,"someneomeone,behinderte,mieten,und behinderte",WatchesThomasBird fork someneomething someneo...,0,0,0,0,0,0
1,4/6/2020 0:04,Broadview,RasoHorse49,"billeeeeer, i miss ytouou !","billeeeeer,ytouou",billeeeeer miss ytouou,0,0,0,0,0,0
2,4/6/2020 0:07,West Parton,CuriousPlateBobbie_Mallon,You obviously need to use rumble! #rumble #toW...,",towonder",You rumble rumble toWonder,0,0,0,0,0,0
3,4/6/2020 0:11,Old Town,Moore1961,I hate all the fawning apple-johns lying aroun...,"apple,fawning applejohns,fawning,johns",I hate fawning apple-johns lying around...,0,0,0,0,0,0
4,4/6/2020 0:11,Terrapin Springs,AttentativeKHouse,Theres like 10 min misconduct.,"min misconduct,misconduct,min",Theres 10 min misconduct.,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
39385,4/10/2020 11:59,Old Town,SharronWileyM,yeah super sick.. she But I think i can go,NaN,yeah super sick.. But I,0,0,0,0,0,0
39386,4/10/2020 11:59,Cheddarford,DerekNolan,next were going to watch them take down our ho...,"values,morals,hope",watch hope morals values,0,0,0,0,0,0
39387,4/10/2020 11:59,East Parton,LazyCBowl,re: Do yall think i can take my yacht out for ...,"sail,yacht",re: Do yall yacht sail,0,0,0,0,0,0
39388,4/10/2020 11:59,Weston,JonesWhale21,re: guys we have no water and mittens and i ha...,"toilet tank,water,tank,toilet,mittens",re: water mittens drinking toilet tank pls,0,0,0,0,0,0
39389,4/10/2020 11:59,Scenic Vista,BBGirl,might as well go try to help at the theater.....,theater,try theater..,0,0,0,0,0,0

In [3]:
old1["new_time"]=pd.to_datetime(old1["time"]).dt.strftime('%Y-%m-%d %H')
data=old1.groupby("new_time").apply(lambda x:x["Earthquake"].sum()).reset_index(name="Earthquake")
data=data.merge(old1.groupby("new_time").apply(lambda x:x["sewer_and_water"].sum()).reset_index(name="sewer_and_water"),on="new_time",how="left")
data=data.merge(old1.groupby("new_time").apply(lambda x:x["power_energy"].sum()).reset_index(name="power_energy"),on="new_time",how="left")
data=data.merge(old1.groupby("new_time").apply(lambda x:x["roads_and_bridges"].sum()).reset_index(name="roads_and_bridges"),on="new_time",how="left")
data=data.merge(old1.groupby("new_time").apply(lambda x:x["medical"].sum()).reset_index(name="medical"),on="new_time",how="left")
data=data.merge(old1.groupby("new_time").apply(lambda x:x["buildings"].sum()).reset_index(name="buildings"),on="new_time",how="left")
data

,new_time,Earthquake,sewer_and_water,power_energy,roads_and_bridges,medical,buildings
0,2020-04-06 00,1,1,1,1,1,1
1,2020-04-06 01,0,0,0,0,0,0
2,2020-04-06 02,2,2,2,2,2,2
3,2020-04-06 03,0,0,0,0,0,0
4,2020-04-06 04,3,3,3,3,3,3
...,...,...,...,...,...,...,...
103,2020-04-10 07,1,1,1,1,1,1
104,2020-04-10 08,1,1,1,1,1,1
105,2020-04-10 09,2,2,2,2,2,2
106,2020-04-10 10,12,12,12,12,12,12
107,2020-04-10 11,4,4,4,4,4,4

In [5]:
data.to_csv("area_wide.csv")